<div ng-show="$root.showSecondaryNavbar" class="secondary-navbar fixed-top d-sm-none d-md-block" style="padding: 0px 15px">
    <div class="row" style="border-bottom: 1px solid #fff">
        <span class="trending-item col-md-1 col-lg-1">Trending</span>
        <div class="col-md-1 col-sm-1 col-xs-1 trending-item" ng-repeat="item in trendingCompanies">
            <div ng-class="{'value-up': item.stock.isPositive, 'value-down': !item.stock.isPositive}"title="{{item.name}}" ui-sref="stocks({'code': item.code})">
                <div class="stock-code">
                    <span class="code">{{item.code}}</span>
                    <br>
                    <span class="current">{{item.stock.close}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="$root.userObj && $root.userObj.name">
        <span class="trending-item col-md-1 col-lg-1">WatchList</span>
        <div class="col-md-1 col-sm-1 col-xs-1 trending-item" ng-repeat="item in watchList | limitTo: 10">
            <div ng-class="{'value-up': item.stock.ispositive, 'value-down': !item.stock.ispositive}"title="{{item.name}}" ui-sref="stocks({'code': item.code})">
                <div class="stock-code">
                    <span class="code">{{item.code}}</span>
                    <br>
                    <span class="current">{{item.stock.close}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 50px;">
    <div style="padding-top: 20px">
        <div class="row" style="margin: 0px"> 
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="row" style="margin: 10px 0px 20px;text-align: center;background: #2A3990;border-radius: 4px;padding: 5px;" ng-show="trendingCompanies.length>0">
                    <div class="col-md col-sm trending-item" ng-repeat="item in trendingCompanies | limitTo: 2" title="{{item.name}}" ui-sref="profile({'code': item.code})" style="background: none;color:#fff">
                        <div ng-class="{'value-up': item.stock.isPositive, 'value-down': !item.stock.isPositive}" ui-sref="stocks({'code': item.code})" style="padding: 0 4px 2px 5px;">
                            <div class="stock-code">
                                <span class="code">{{item.code}}</span>
                                <br>
                                <span>{{item.stock.change}}&nbsp;({{item.stock.percentageChange}}&nbsp;%)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-include="'/views/left-side.html'"></div> 
            </div>
            <!-- <div class="feed-content col-md-8 col-lg-8 col-sm-12" style="height: calc(100vh - 80px);background: #fff;"> -->
            <div class="feed-content col-md-6 col-lg-6 col-sm-12">
                <div id="feedsList" class="list-group feed-list-group" ng-show="feedsList.length > 0">
                    <div class="m-list list-group-item stock-item" ng-repeat="feed in feedsList track by $index" ui-sref="stocks({'code': feed.code})">
                        <div ng-class="{'value-up': feed.stock.isPositive, 'value-down': !feed.stock.isPositive}" class="left-side">
                            <span class="stock-name">
                                {{feed.name}}
                            </span>
                            <div class="stock-data">
                                <span class="stock-code">
                                    <span class="code">{{feed.code}}</span>
                                    <span class="current">{{feed.stock.close}}</span>
                                </span>
                                <span class="stock-status">
                                    <i ng-class="{'fa fa-arrow-circle-up' : feed.stock.isPositive, 'fa fa-arrow-circle-down' : !feed.stock.isPositive}" aria-hidden="true"></i>
                                    {{feed.stock.change}}&nbsp;({{feed.stock.percentageChange}}&nbsp;%)
                                </span>
                            </div>
                            <small class="" style="margin-left: 5px; font-size: 12px">Updated on {{feed.stock.date}}</small>
                        </div>
                        <div class="watch-bar right-side">
                            <div class="watchers">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                10  Watchers
                            </div>
                            <button type="button" class="btn btn-primary btn-sm pull-right watch" ng-click="addtoWathclist($event, feed)">Watch</button>
                        </div>
                    </div>
                    <div class="row m-list" ng-show="isSubmitInProgress" style="height: 100px">
                        <div class="loader-30 loader-1 absolute-center"></div>
                    </div>
                    <div class="row m-list mx-auto" ng-show="!isSubmitInProgress && !disableInfiniteScroll">
                        <button type="button" ng-click="getCompanies()" class="btn btn-secondary mx-auto">load more..</button>
                    </div>
                </div>
                <div class="fill-screen" ng-show="feedsList.length === 0 && isSubmitInProgress" style="height: 100px">
                    <div class="loader-48 loader-1 absolute-center"></div>
                </div>
                <div class="fill-screen" ng-show="feedsList.length === 0 && !isSubmitInProgress" style="height: 100px">
                    <h5 class="absolute-center no-feeds">No Feeds :(</h5>
                </div>
            </div>
            <div class="col-md-3 col-lg-3 col-sm-12">
                <div class="side-bar-box" style="padding: 10px">
                    <div class="head"> 
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                        <span>Latest News</span>
                        <a class="pull-right" style="font-size: 12px;" href="/news">View More</a>
                    </div>
                    <div>
                        <div title="Novartis Makes a Deal That Should Go Down Easy" style="display: flex;padding: 10px 0px; border-bottom: 1px solid #eee;">
                            <div class="LatestNewsEvents__thumbnail___hw8JG">
                                <img height="50" src="http://d39b8uktah50ny.cloudfront.net/attachments/64f3697e40d233b7825536e5fced5ea3655b362b/store/limit/10000/10000/297698b30a39e37fa0fcc197065c023a8a8efeef6ab1da254ddc7cfa522a/31DB-DRUGVIEWS1-facebookJumbo.jpg" style="border-radius: 3px">
                            </div>
                            <div style="display: flex;margin-left: 5px;flex-direction: column;justify-content: space-between; overflow: hidden">
                                <h3 style="font-size: 12px; font-weight: 500; line-height: 1.12; margin: 0;">{{"NovartisNovartisNovartis Makes a Deal That Sho..." | limitTo: 30 }}</h3>
                                <p style="    font-size: 10px; margin: 0px;color: #ccc">20 hours ago – nytimes.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>