
<div class="side-bar-box" ng-show="trendingCompanies.length>0">
    <div class="row head"> 
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        <span>Trending</span>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 trending-item" ng-repeat="item in trendingCompanies" title="{{item.name}}" ui-sref="profile({'code': item.code})">
            <div ng-class="{'value-up': item.stock.isPositive, 'value-down': !item.stock.isPositive}" ui-sref="stocks({'code': item.code})">
                <div class="stock-code">
                    <span class="code">{{item.code}}</span>
                    <span class="current">{{item.stock.close}}</span>
                    <span style="float: right">{{item.stock.change}}&nbsp;({{item.stock.percentageChange}}&nbsp;%)</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side-bar-box">
    <div class="row head"> 
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span>Watchlist</span>
    </div>
    <div class="row">
        <small ng-if="!$root.userObj.name" style="padding: 10px;">
            <a class="stocks-link" data-toggle="modal" data-target="#signup">Sign up</a> with NoodleStocks to have watchlist for easy access to your favorite stocks.
        </small>
        <div ng-if="$root.userObj.name" class="col-md-12 col-sm-12 trending-item" ng-repeat="item in watchList" title="{{item.name}}">
            <div ng-class="{'value-up': item.stock.isPositive, 'value-down': !item.stock.isPositive}"  ui-sref="stocks({'code': item.code})"    >
                <div class="stock-code">
                    <span class="code">{{item.code}}</span>
                    <span class="current">{{item.stock.close}}</span>
                    <span style="float: right">{{item.stock.change}}&nbsp;({{item.stock.percentageChange}}&nbsp;%)</span>
                </div>
            </div>
        </div>
        <small ng-if="$root.userObj.name && watchList.length == 0" style="padding: 10px">
            Watchlist empty.
        </small>
    </div>
</div>
<div class="side-bar-box" style="padding: 10px">
    <div class="head"> 
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        <span>Latest News</span>
        <a class="pull-right" style="font-size: 12px;" href="/news">View More</a>
    </div>
    <div>
        <div title="Novartis Makes a Deal That Should Go Down Easy" style="display: flex;padding: 10px 0px; border-bottom: 1px solid #eee;">
            <div class="LatestNewsEvents__thumbnail___hw8JG">
                <img height="50" src="http://d39b8uktah50ny.cloudfront.net/attachments/64f3697e40d233b7825536e5fced5ea3655b362b/store/limit/10000/10000/297698b30a39e37fa0fcc197065c023a8a8efeef6ab1da254ddc7cfa522a/31DB-DRUGVIEWS1-facebookJumbo.jpg" style="border-radius: 3px">
            </div>
            <div style="display: flex;margin-left: 5px;flex-direction: column;justify-content: space-between; overflow: hidden">
                <h3 style="font-size: 12px; font-weight: 500; line-height: 1.12; margin: 0;">{{"NovartisNovartisNovartis Makes a Deal That Sho..." | limitTo: 30 }}</h3>
                <p style="    font-size: 10px; margin: 0px;color: #ccc">20 hours ago – nytimes.com</p>
            </div>
        </div>
    </div>
</div>